node_modules/
dist/
.env
.env.local
*.log
server-php/writable/cache/*
server-php/writable/logs/*
server-php/writable/session/*
server-php/writable/uploads/*
!server-php/writable/**/.gitkeep
server-php/vendor/
web/node_modules/
web/dist/
